<!doctype html>
<html>
<head>
  <title>Galería de Fotos</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    #container{margin:0 auto;
               border:2px ridge;
               width:350px;}
      #text{padding-top:15px;
            margin:0 auto;}
       input{margin-left:50px;
             width:250px;
             font-size:25px;
             border:2 px ridge;}
      table{margin:20px 50px 20px 50px;
            border:2px ridge;
            padding:10px;}
       table td{padding:10px;
                border:2px ridge;
                width:30px;
                height:10px;
          text-align:center;}
    </style>
    <script  type="text/javascript">
    var result;
    function command(obj)
    {
      result=document.getElementById("result").value;
      var str=obj.innerHTML;
      switch(str)
      {
      case "del": result=result.substring(0,result.length-1);break;
      case "c": result="";break;
      case "=": result=eval(result);break;
      default: result=result+str;	
      }
      document.getElementById("result").value=result;	
    }
    </script>
    <script>
          function CambiaColor(a)
        {
            a.style.background = "pink";
        }

    </script>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- logo -->
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo.jpg' %}" width="90" height="90" alt="">
    </a>
    
    <!-- enlaces -->
    <div class="collapse navbar-collapse" id="opciones">   
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quienessomos' %}">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'galeria' %}">Galería de Fotos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'formulario' %}">Formulario de Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apiferiados' %}">Feriados 2022</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mostrar3' %}">Compras</a>
          </li>  
          {% if perms.app.view_cliente %}        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mostrar' %}">Clientes</a>
          </li>
          {% endif %} 
          {% if perms.app.view_producto %} 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mostrar2' %}">Productos</a>
          </li>
          {% endif %} 
          {% if perms.app.view_cliente %} 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apiclientes' %}">API Clientes</a>
          </li>  
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bienvenid@ {{ user.username }}</a>
          </li>  
          
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quienessomos' %}">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'galeria' %}">Galería de Fotos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'formulario' %}">Formulario de Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apiferiados' %}">Feriados 2022</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
          </li> 
        {% endif %}

      </ul>
    </div>
  </nav>
<br>



<div class="container-fluid">   
  <h2 class="container-fluid">Lista de Accesorios Disponibles</h2>
  <br>
  <div class="row">       
    <div class="col-md">        
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Correa para Gatos ($13,900)</h4>
          <p class="card-text">Hecho de material duradero y de calidad, mantiene al perro fresco y ventilado,
            sensacion super suave, ajustable en el cuello y zona del vientre, 
            hebilla construida con un sistema de bloqueo de 4 puntos para mayor seguridad. </p>
        </div>
        <img class="card-img-bottom" src="{% static 'img/gato correa.jpg' %}">
        {% if user.is_authenticated %}
        <br>
        <a href="{% url 'forms_compras' %}" class="btn btn-primary">Comprar</a>
        {% endif %}

      </div>       
  </div>
  <div class="col-md">        
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Correa para Perros ($16,200)</h4>
        <p class="card-text">Suave en el pelaje de tu perro, Totalmente ajustable, 
          Hebilla construida con un sistema de bloqueo de 4 puntos para mayor seguridad, 
          El logotipo de goma protege las puntadas para una mayor durabilidad. </p>
      </div>
      <img class="card-img-bottom" src="{% static 'img/perro correa.jpg' %}">
      {% if user.is_authenticated %}
      <br>
      <a href="{% url 'forms_compras' %}" class="btn btn-primary">Comprar</a> 
      {% endif %}                       
    </div>          
</div>
  </div>
 <!--otra fila-->
 <br><br>
 <hr>
 <div class="row">       
  <div class="col-md">        
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Arenales para Gatos ($9,990)</h4>
        <p class="card-text">Ultra absorbente: Los canales microscópicos de los cristales de Silica Gel 
          absorben automáticamente la orina del gato, evaporando el liquido y encapsulando los olores.
          También absorben el olor y la humedad de las heces, deshidratándolas para removerlas fácilmente. </p>
      </div>
      <img class="card-img-bottom" src="{% static 'img/gato arena.jpg' %}">
      {% if user.is_authenticated %}
      <br>
      <a href="{% url 'forms_compras' %}" class="btn btn-primary">Comprar</a>
      {% endif %}                         
    </div>          
</div>
<div class="col-md">        
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Torre para Gatos ($39,990)</h4>
      <p class="card-text">La V-HIGH BASE llama la atención gracias a su altura: es una plataforma de observación y un lugar para descansar en uno. Tiene postes de rascado altos y delgados que fomentan el rascado extenso. La cueva del cubo con salida trasera proporciona un espacio acogedor para una siesta. </p>
    </div>
    <img class="card-img-bottom" src="{% static 'img/casagato.jpg' %}">
    {% if user.is_authenticated %}
    <br>
    <a href="{% url 'forms_compras' %}" class="btn btn-primary">Comprar</a> 
    {% endif %}                        
  </div>          
</div>
 </div>
<!--otra fila-->
<br><br>
<hr>
<div class="row">       
 <div class="col-md">        
   <div class="card">
     <div class="card-body">
       <h4 class="card-title">Casa para Perros ($23,990)</h4>
       <p class="card-text">Casa para perros al aire libre, perrera grande, accesorios para mascotas,
        lavado extraíble, fácil de instalar, jaula para perros con ventilación.</p>
     </div>
     <img class="card-img-bottom" src="{% static 'img/casa perro.jpg' %}">
     {% if user.is_authenticated %}
     <br>
      <a href="{% url 'forms_compras' %}" class="btn btn-primary">Comprar</a>
      {% endif %}                         
   </div>          
</div>
<div class="col-md">        
 <div class="card">
   <div class="card-body">
     <h4 class="card-title">Bandanas ($10,990)</h4>
     <p class="card-text">Con dos patrones originales que puedes voltear según el estado de ánimo de tu perro o gato. Colocar el pañuelo es fácil: dóblelo sobre el cuello y coloque los botones de presión en su lugar.</p>
   </div>
   <img class="card-img-bottom" src="{% static 'img/perrobandana.jpg' %}">
   {% if user.is_authenticated %}
   <br>
    <a href="{% url 'forms_compras' %}" class="btn btn-primary">Comprar</a>
    {% endif %}                          
 </div>          
</div>
</div>
<br>

<div id="container">
  <h3 class="container-fluid">Usa esta calculadora para cotizar precios!</h3>
  <div id="text"><input type="text" id="result" size="20" onfocus="CambiaColor(this)"></div>
  <table cellspacing="6px">
  <tr>
  <td id="1" onclick="command(this)">1</td><td id="2" onclick="command(this)">2</td><td onclick="command(this)" id="3">3</td><td onclick="command(this)" id="del">del</td><td onclick="command(this)" id="equiv">=</td>
  </tr>
  <tr>
  <td onclick="command(this)" id="4">4</td><td  onclick="command(this)" id="5">5</td><td onclick="command(this)" id="6">6</td><td onclick="command(this)" id="clear" >c</td><td onclick="command(this)" id="subtract">-</td>
  </tr>
  <tr>
  <td id="7" onclick="command(this)" id="7">7</td><td id="8" onclick="command(this)">8</td><td id="9" onclick="command(this)">9</td><td id="add" onclick="command(this)">+</td><td id="multiply" onclick="command(this)">*</td>
  </tr>
  <tr>
  <td id="0" onclick="command(this)">0</td><td id="point" onclick="command(this)">.</td><td id="00" onclick="command(this)">00</td><td id="remain" onclick="command(this)">%</td><td id="divide" onclick="command(this)">/</td>
  </tr>
  </table>
  </div>

</div>
</div>



<footer>
  <div class="row col-12">
      <div class="col-lg-2">
          <img src="{% static 'img/logo.jpg' %}" alt="logoBookStop" width="60px">
      </div>
      <div class="col-lg-1">
          <a href="{% url 'index' %}" id="linkFooter"><strong>INICIO</strong></a>
      </div>
      <div class="col-lg-1">
          <a href="{% url 'quienessomos' %}" id="linkFooter"><strong>QUIENES SOMOS</strong></a>
      </div>
      <div class="col-lg-1">
          <a href="{% url 'galeria' %}" id="linkFooter"><strong>GALERIA DE FOTOS</strong></a>
      </div>
      <div class="col-lg-1">
        <a href="{% url 'formulario' %}" id="linkFooter"><strong>FORMULARIO DE REGISTRO</strong></a>
    </div>
    <div class="col-lg-1">
        <a href="{% url 'apiferiados' %}" id="linkFooter"><strong>FERIADOS 2022</strong></a>
    </div>

      <div class="col-lg-2">
          <strong>Síguenos</strong>
          <br><br>
          <div class="row">
              <img src="{% static 'img/face.png' %}" alt="" width="30px" height="30px"
                  style=" margin-left: 15px;">
              <img src="{% static 'img/twitter.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
              <img src="{% static 'img/insta.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">

          </div>
      </div>


      <div class="col-lg-3">

          <strong>Contacto</strong>
          <br><br>
          <div class="row">
              <img src="{% static 'img/location.png' %}" alt="" width="20px" height="20px"
                  style="margin-right: 10px; margin-left: 15px;">
              <p>Av. El Avellano 348, Pudahuel</p>
          </div>
          <div class="row">
              <img src="{% static 'img/fono.png' %}" alt="" width="20px" height="20px"
                  style="margin-right: 10px; margin-left: 15px;">
              <p>225554000</p>
          </div>
          <div class="row">
              <img src="{% static 'img/email.png' %}" alt="" width="20px" height="20px"
                  style="margin-right: 10px; margin-left: 15px;">
              <p>consulta@cachupines.cl</p>
          </div>
          <br><br><br>

          <p>@Copyrigth Derechos reservados.</p>
      </div>
  </div>
</footer>
</body>
</html>